<IfModule mod_rewrite.c>
allow from all
Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteBase /

#RewriteCond %{REQUEST_URI} ^(.*)\\(.*)$
#RewriteRule .* %1/%2 [R=301,NC,L]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php [L]
</IfModule>